<h1>Create a new Pet</h1>
<form action="/pets" method="post">
  <input type="text" name="pet_name">
  <% @owners.each do |owner| %>
    <label for="owner_id"><%= owner.name %></label><input type="radio" id="<%= owner.id %>" name="owner_id" value="<%= owner.id %>">
  <% end %>
  <label>Owner Name: </label>
  <input type="text" name="owner_name" id="owner_name"></input>
  <br><br>
  <input type="submit" value="Create Pet">
</form>
